{% extends 'layout.html.twig' %}

{# Block 2: Extend Library #}
{% block extend_library %}
	<!-- datepicker -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{# Block 3: extend_style #} 
{% block extend_style%}
 <style>
    .container {
        margin-top:3%;
    }
    #socmed-link {
        margin-left:auto;margin-right:auto; 
        padding-right:6em; padding-left:6em;}
    @media screen and (max-width:1000px){
        #socmed-link {padding-right:0.3em; padding-left:0.3em;}
        .new-btn {padding:5px 5px;}
    }
    @media screen and (max-width:850px){
        #socmed-link {padding-right:0.2em; padding-left:0.2em;}
    }
    @media screen and (max-width:599px){
        #socmed-link {padding-right:10em; padding-left:10em;}
    }
    .new-btn {
        padding: 8px 10px;
        border: 0px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background-color: #e6e6e6;
        color: #383838;
        /*float:right;*/ }
    .new-btn:hover {
        background-color: #00aede;
        color: white; }
    .new-btn:hover .btn-icon{
        color: white; }
    .btn-icon {
        color: #00aede;
        font-size: 25px; }
    #btn-del:hover {
        background-color: #c73934;
        color: white;}
    .btn-del-icon{
        color: #c73934;
        font-size: 25px; }
     
 </style>

{% endblock %}

{# Block 4: Content #}
{% block content %}
	<!-- the start of user profile page section -->
	<div class="container">
		<div class="main-body">
			  <div class="row gutters-sm">
			     <!-- LEFT SIDE CONTAINER  -->
				<div class="col-md-4 mb-3" id="left-col">
				  <!-- PROFILE -->
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<div class="avatar-cont">
									<img src="{{employee.getProfile_Image().thumbnail('EmployeeImageResize')}}"
										alt="Admin" width="100%" class="avatar">
								</div>
								<div class="mt-3">
									<h4>{{employee.getName()}}</h4>
									<h6>{{employee.getStaff_ID()}}</h6>
									<p class="text-secondary mb-1">{{employee.getPosition().getPositionName()}}</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Links -->
					<div class="card mt-3">
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex align-items-center flex-wrap" id="socmed-link">
								{% if employee.getGithub() == "" %}
							         <i class="fa fa-github-square mb-0" style="width:auto; height:auto; color:rgb(110,110,110);"></i>
							         <span style="margin-left:1.2em; color:rgb(110,110,110);"><h6 class="mb-0"> Github </h6></span>
							    {% else %}
								    <i class="fa fa-github-square mb-0" style="width: auto; height: auto;"></i>
								    <span style="margin-left:1.2em;">
								        <h6 class="mb-0"><a href="{{employee.getGithub()}}" target="_blank"> Github </a></h6>
								    </span>
								{% endif %}
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" id="socmed-link">
								{% if employee.getLinkedin() == "" %}
							         <i class="fa fa-linkedin-square mb-0" style="width:auto; height:auto; color:rgb(110,110,110);"></i>
							         <span style="margin-left:1.2em; color:rgb(110,110,110);"><h6 class="mb-0"> LinkedIn </h6></span>
							    {% else %}
								    <i class="fa fa-linkedin-square mb-0" style="width: auto; height: auto;"></i>
								    <span style="margin-left:1.2em;">
								        <h6 class="mb-0"><a href="{{employee.getLinkedin()}}" target="_blank"> LinkedIn </a></h6>
								    </span>
								{% endif %}
							</li>
							<li class="list-group-item d-flex align-items-center flex-wrap" id="socmed-link">
							     {% if employee.getFacebook() == "" %}
							         <i class="fa fa-facebook-square mb-0" style="width:auto; height:auto; color:rgb(110,110,110);"></i>
							         <span style="margin-left:1.2em; color:rgb(110,110,110);"><h6 class="mb-0"> Facebook </h6></span>
							    {% else %}
								    <i class="fa fa-facebook-square mb-0" style="width: auto; height: auto;"></i>
								    <span style="margin-left:1.2em;">
								        <h6 class="mb-0"><a href="{{employee.getFacebook()}}" target="_blank"> Facebook </a></h6>
							        </span>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
				<!-- RIGHT SIDE CONTAINER  -->
				<div class="col-md-8" id="right-col">
					<!-- USER DETAILS -->
					<div class="card mb-3" id="right-col">
						<div class="card-header">
							<h4>User Information</h4>
						</div>
						<div class="card-body">
						    <!-- Display User Information -->
						    <div>
    							<div class="row">
    								<div class="col-sm-3">
    									<h6 class="mb-0">Full Name</h6>
    								</div>
    								<div class="col-sm-9 text-secondary">
    									{{employee.getName()}}
    								</div>
    							</div>
    							<hr>
    							<div class="row">
    								<div class="col-sm-3">
    									<h6 class="mb-0">Email</h6>
    								</div>
    								<div class="col-sm-9 text-secondary">
    									{{employee.getemail()}}
    								</div>
    							</div>
    							<hr>
    							<div class="row">
    								<div class="col-sm-3">
    									<h6 class="mb-0">Phone</h6>
    								</div>
    								<div class="col-sm-9 text-secondary">
    									{{employee.getPhone()}}
    								</div>
    							</div>
    							<hr>
    							<div class="row">
    								<div class="col-sm-3">
    									<h6 class="mb-0">Address</h6>
    								</div>
    								<div class="col-sm-9 text-secondary">
    									{{employee.getAddress()}}
    								</div>
    							</div>
    							<hr>
    							<div class="row">
    								<div class="col-sm-3">
    									<h6 class="mb-0">Birthday</h6>
    								</div>
    								<div class="col-sm-9 text-secondary">
    									{{employee.getBirthday().format("d-m-Y")}}
    								</div>
    							</div>
							</div>
							<hr>
							<!-- User Info - Button and form -->
							<div class="row">
								<div class="col-sm-12">
									<button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
										data-target=".Profile" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
										Edit Profile
									</button>
							
									<div class="modal fade Profile" tabindex="-1" role="dialog"
										aria-labelledby="Profile" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<!-- Profile Header -->
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Profile</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												
												<!-- Profile FORM -->
												<div class="modal-body">
													<form method="post" action="./UpdateProfile/submit"
														enctype="multipart/form-data" class="was-validated">
														<h3>Basic Informations</h3>
														<!-- First Name - required-->
														<div class="form-group row">
															<label for="inputFirstName"
																class="col-sm-2 col-form-label">First Name*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name (Capital letters)" value="{{OP_user.firstName}}" required>
															</div>
														</div>

														<!-- Last Name - required-->
														<div class="form-group row">
															<label for="inputLastName"
																class="col-sm-2 col-form-label">Last Name*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputLastName" name="inputLastName" placeholder="Last Name (Capital letters)" value="{{OP_user.lastName}}" required>
																<small id="staffIDhelp" class="form-text text-muted">
																	Full name = First Name + Last Name
																</small>
															</div>
														</div>

														<!-- Gender - required-->
														<div class="form-group row">
															<label for="inputGender"
																class="col-sm-2 col-form-label">Gender*</label>
															<div class="col-sm-10">
																<select class="custom-select my-1 mr-sm-2"
																	id="inputGender" name="inputGender" required>
																	<option value="male">Male</option>
																	<option value="female">Female</option>
																	<option value="Others">Others</option>
																</select>
																<div class="invalid-feedback">Invalid Gender</div>
															</div>
														</div>

														<!-- Phone Number - required-->
														<div class="form-group row">
															<label for="inputPhone"
																class="col-sm-2 col-form-label">Phone Number*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputPhone"
																	name="inputPhone"
																	placeholder="Phone Number (Default: +60001112222)"
																	value="{{employee.getPhone()}}" required>
																<small id="staffIDhelp" class="form-text text-muted">
																	Default: +60001112222
																</small>
															</div>
														</div>

														<!-- Address - required-->
														<div class="form-group row">
															<label for="inputAddress"
																class="col-sm-2 col-form-label">Address*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control"
																	id="inputAddress" name="inputAddress"
																	placeholder="Full Address (Default: TM address)"
																	value="{{employee.getAddress()}}"
																	required>
																<small id="staffIDhelp" class="form-text text-muted">
																	Default: TM address (1, Jalan Damansara, Damansara
																	Kim, 60000 Kuala Lumpur, Wilayah Persekutuan Kuala
																	Lumpur)
																</small>
															</div>
														</div>

														<!-- Birthday - required -->
														<div class="form-group row">
															<label for="inputBirthday"
																class="col-sm-2 col-form-label">Birthday*</label>
															<div class="col-sm-10">
																<input id="inputBirthday" name="inputBirthday" width="276" value="{{employee.getBirthday().format('d-m-Y')}}" required />
															</div>
														</div>
														<hr>

														<h3>Workplace Informations</h3>
														<!-- Staff ID - required-->
														<div class="form-group row">
															<label for="inputStaffID"
																class="col-sm-2 col-form-label">Staff ID*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputStaffID" name="inputStaffID" onchange="updateUsername()" placeholder="Staff ID (TM Staff ID)" value="{{employee.getStaff_ID()}}" readonly required>
																<small id="staffIDhelp" class="form-text text-muted">
																	Staff ID will be used for Pimcore and OpenProject
																	Username
																</small>
															</div>
														</div>

														<!-- Staff Email - required -->
														<div class="form-group row">
															<label for="inputEmail"
																class="col-sm-2 col-form-label">Staff Email*</label>
															<div class="col-sm-10">
																<input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Staff Email" value="{{employee.getemail()}}" required>
																<div class="invalid-feedback">Invalid Email</div>
															</div>
														</div>

														<!-- Position - required-->
														<div class="form-group row">
															<label for="inputPosition"
																class="col-sm-2 col-form-label">Position*</label>
															<div class="col-sm-10">
																<select class="custom-select my-1 mr-sm-2"
																	id="inputPosition" name="inputPosition" required>
																    {% for position in EmployeePosition %}
																        <option value="{{position.geto_Id()}}">{{position.getPositionName()}}</option>
																    {% endfor %}
																</select>
															</div>
															<div class="invalid-feedback">Invalid Position</div>
														</div>

														<!-- Join Date - required -->
														<div class="form-group row">
															<label for="inputJoin_date"
																class="col-sm-2 col-form-label">Join Date*</label>
															<div class="col-sm-10">
																<input id="inputJoin_date" name="inputJoin_date" width="276" value="{{employee.getJoin_date().format('d-m-Y')}}" required />
															</div>
														</div>

														<!-- Profile Picture  -->
														<div class="form-group row">
															<label for="fileToUpload"
																class="col-sm-2 col-form-label">Profile Picture*</label>
															<div class="col-sm-10">
																<input type="file" class="form-control"
																	name="fileToUpload" id="fileToUpload">
																<small id="staffIDhelp" class="form-text text-muted">
																	Default: default image will be assigned
																</small>
															</div>

														</div>
														<hr>
														
														<h3>Personal Links</h3>
														<!-- Github -->
														<div class="form-group row">
															<label for="inputGithub"
																class="col-sm-2 col-form-label">Github Link</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputGithub" name="inputGithub" placeholder="Github Link" value="{{employee.getGithub()}}">
															</div>
														</div>

														<!-- Linkedin -->
														<div class="form-group row">
															<label for="inputLinkedin"
																class="col-sm-2 col-form-label">Linkedin Link</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control"
																	id="inputLinkedin" name="inputLinkedin" placeholder="Linkedin Link" value="{{employee.getLinkedIn()}}">
															</div>
														</div>

														<!-- Facebook-->
														<div class="form-group row">
															<label for="inputFacebook"
																class="col-sm-2 col-form-label">Facebook Link</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control" id="inputFacebook" name="inputFacebook" placeholder="Facebook Link" 
																value="{{employee.getFacebook()}}">
															</div>
														</div>
														<hr>

														<h3>User Credentials</h3>
														<!-- Username - required-->
														<div class="form-group row">
															<label for="inputUsername"
																class="col-sm-2 col-form-label">Username*</label>
															<div class="col-sm-10">
																<input type="Name" class="form-control"
																	id="inputUsername" name="inputUsername" placeholder="Staff ID (TM Staff ID)" value="{{employee.getStaff_ID()}}" readonly required>
															</div>
														</div>
														<!-- Password - required-->
														<div class="form-group row">
															<label for="inputPassword"
																class="col-sm-2 col-form-label">Update Password*</label>
															<div class="col-sm-10">
																<input type="password" class="form-control"
																	id="inputPassword" name="inputPassword"
																	pattern=".{10,}"
																	placeholder="Password (Default: AI_c3ntr4l)"
																	>
																<div class="invalid-feedback">Must be at least 10
																	characters long.</div>
																<small id="staffIDhelp" class="form-text text-muted">
																	Default: AI_c3ntr4l <br>
																	The password change is only for AICentral (Pimcore). <br>
																	Please manually change your password at OpenProject. <br>
																	For OpenProject password reset, please contact the admin. 
																</small>
															</div>
														</div>
														<hr>
														<button class="btn btn-primary" type="submit" name="buttonAction" value="Update">Update Information</button>
														
														{% set positionList = [] %}
                                                        {% for position in EmployeePosition  %}
                                                            {% set positionList = positionList|merge([position.getPositionName()]) %}
                                                        {% endfor %}
														
														
														
														<script>
															$('#inputBirthday').datepicker({
																uiLibrary: 'bootstrap4',
																format: 'dd-mm-yyyy',
															});
															$('#inputJoin_date').datepicker({
																uiLibrary: 'bootstrap4',
																format: 'dd-mm-yyyy',
															});
															var currentGender = {{employee.getgender()|json_encode|raw }}; 
															var currentPosition = {{employee.getPosition().getPositionName()|json_encode|raw }}; 
															
															
															var positionList = {{positionList|json_encode|raw }}; 
															var genderList = ['male','female','Others']; 
												// 			console.log(positionList)
												// 			console.log(positionList.indexOf(currentPosition))
															
                                                            document.getElementById("inputGender").selectedIndex = genderList.indexOf(currentGender);
                                                            document.getElementById("inputPosition").selectedIndex = positionList.indexOf(currentPosition);
														</script>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- ADMIN FUNCTIONS  -->
					{% if isAdmin %}
					    <div class="card mb-3" id="right-col">
						<div class="card-header">
							<h4>Admin Interface</h4>
						</div>
						<div class="card-body">
						    <div class="row">
								<!-- Reset Pimcore Password -->
								<div class="col-sm-6">
									<button type="button" class="new-btn btn btn-primary w3-margin-top" data-toggle="modal"
										data-target=".ResetPassword"> <i class="btn-icon fa fa-key fa-fw" id="emp-icon"></i>
										Edit Pimcore Password
									</button>

									<div class="modal fade ResetPassword" tabindex="-1" role="dialog"
										aria-labelledby="ResetPassword" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<!-- ResetPassword Header -->
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<!-- ResetPasssword FORM -->
												<div class="modal-body">
                                                    <form method="post" action="./forms/ResetPassword">
    													<!-- Available User List -->
    													<div class="form-group">
    														<label class="my-1 mr-2" for="employeeList"> Available User List</label>
    														<select class="custom-select my-1 mr-sm-2" id="employeeList" name="employeeList">
    														    <option selected>--Select User--</option>
    															{% for employee in employeeList %}
    															<option value={{employee.getStaff_ID()}}>{{employee.getKey()}} - {{employee.getName()}}
    															</option>
    															{% endfor %}
    														</select>
    													</div>
    													
    													<!-- Password - required-->
    													<div class="form-group row">
    														<label for="inputPassword" class="col-sm-2 col-form-label">New
    															Password*</label>
    														<div class="col-sm-10">
    															<input type="password" class="form-control"
    																id="inputPassword" name="inputPassword" pattern=".{10,}"
    																placeholder="Password (Default: AI_c3ntr4l)" required>
    															<div class="invalid-feedback">Must be at least 10 characters
    																long.</div>
    															<small id="staffIDhelp" class="form-text text-muted">
    																Default: AI_c3ntr4l
    															</small>
    														</div>
    													</div>
    													<hr>
    													<button class="btn btn-primary" type="submit" name="buttonAction"
    														value="Reset">Reset Password</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Reset OpenProject Password -->
					        	<div class="col-sm-6">
									<a href='http://192.168.1.2:8081/users'>
									    <button type="button" class="new-btn btn btn-primary w3-margin-top" ><i class="btn-icon fa fa-key fa-fw" id="emp-icon"></i>
									        Edit OpenProject Password
									    </button>
								    </a>
								</div>
							</div>
							<div class="row">
								<!-- Manage Admin -->
								<div class="col-sm-3">
									<button type="button" class="new-btn btn btn-primary w3-margin-top" data-toggle="modal"
										data-target=".ManageAdmin"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
										Manage Admin
									</button>
									<div class="modal fade ManageAdmin" tabindex="-1" role="dialog"
										aria-labelledby="ManageAdmin" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<!-- ManageAdmin Header -->
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Manage Admin</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<!-- ManageAdmin FORM -->
												<div class="modal-body">
												    <form method="post" action="./forms/manageAdmin">
    													<!-- Available User List -->
    													<div class="form-group">
        														<label class="my-1 mr-2" for="employeeList"> Available User List</label>
        														<select class="custom-select my-1 mr-sm-2" id="employeeList" name="employeeList">
        														    <option selected>--Select User--</option>
        															{% for employee in employeeList %}
        															<option value={{employee.getStaff_ID()}}>{{employee.getKey()}} - {{employee.getName()}}
        															</option>
        															{% endfor %}
        														</select>
        													</div>
    
    													<!-- Admin - required-->
    													<div class="form-group row">
    														<label for="inputAdmin"
    															class="col-sm-2 col-form-label">Admin*</label>
    														<div class="col-sm-10">
    															<select class="custom-select my-1 mr-sm-2" id="inputAdmin"
    																name="inputAdmin" required>
    																<option value="no">no</option>
    																<option value="yes">yes</option>
    															</select>
    															<small id="staffIDhelp" class="form-text text-muted">
    																Admin privilege is applied for both Pimcore and OpenProject
    															</small>
    														</div>
    													</div>
    													<hr>
    													<button class="btn btn-primary" type="submit" name="buttonAction"
    														value="update">Update</button>
													</form>
													<hr>
													<h3>Current Admins</h3>
													<table class="table">
														<thead>
															<tr>
																<th scope="col">#</th>
																<th scope="col">Name</th>
																<th scope="col">Staff ID</th>
																<th scope="col">Contact</th>
															</tr>
														</thead>
														<tbody>
														    {% for admin in adminList %}
    															<tr>
    																<th scope="row">{{ loop.index }}</th>
    																<td>{{admin.getName()}}</td>
    																<td>{{admin.getStaff_Id()}}</td>
    																<td>{{admin.getPhone()}}</td>
    															</tr>
														    {% endfor %}
														</tbody>
													</table>
												</div>

											</div>
										</div>
									</div>
								</div>
								
								<!-- Manage Position -->
								<div class="col-sm-3">
									<button type="button" class="new-btn btn btn-primary w3-margin-top" data-toggle="modal"
										data-target=".ManagePosition"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
										Manage Position
									</button>
									<div class="modal fade ManagePosition" tabindex="-1" role="dialog"
										aria-labelledby="ManagePosition" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<!-- ManagePosition Header -->
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Manage Position</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<!-- ManagePosition FORM -->
												<div class="modal-body">
												    <form method="post" action="./forms/managePosition">
    													<!-- Available Position List -->
    													<div class="form-group">
        														<label class="my-1 mr-2" for="positionList"> Available Position List</label>
        														<select class="custom-select my-1 mr-sm-2" id="positionList" name="positionList" onclick="positionFormResponsive(this)">
        														    <option selected>--Create Position--</option>
        														    {% for position in EmployeePosition %}
        														        <option value="{{position.getPositionRank()}}">{{position.getPositionName()}}</option>
        														    {% endfor %}
        														</select>
        													</div>
    
    													<!-- Position Name - required-->
    													<div class="form-group row">
    														<label for="inputPositionName"
    															class="col-sm-2 col-form-label">Position Name*</label>
    														<div class="col-sm-10">
    															<input type="Name" class="form-control" id="inputPositionName" name="inputPositionName" placeholder="Position Name" required>
    															<small id="staffIDhelp" class="form-text text-muted">
    																Position Name for all employee.
    															</small>
    														</div>
    													</div>
    													
    													{% set positionRanking = ['Head','Manager','Assistant Manager','Permanent','TM Elit','Intern']%}
    													
    													<!-- Position Rank - required-->
    													<div class="form-group row">
    														<label for="inputPositionRank"
    															class="col-sm-2 col-form-label">Position Rank*</label>
    														<div class="col-sm-10">
    															<select class="custom-select my-1 mr-sm-2" id="inputPositionRank" name="inputPositionRank">
        														    <option selected>--Select Position Rank--</option>
																    {% for position in positionRanking %}
																        <option value="{{loop.index}}">{{loop.index}} - {{position}}</option>
        															{% endfor %}
        														</select>
    															<small id="staffIDhelp" class="form-text text-muted">
    																Ranking: Smaller number, Higher ranking
    															</small>
    														</div>
    													</div>
    													
    													<hr>
    													<button class="btn btn-primary" type="submit" name="buttonAction" value="create">Create</button>
    													<button class="btn btn-danger" type="submit" name="buttonAction" value="delete">Delete</button>
													</form>
													
													<script>
													    function positionFormResponsive(selectObject){
													       // console.log(selectObject.options[selectObject.selectedIndex].text)
													        var current = selectObject.value;
													        if(current === '--Create Position--' ){
													            document.getElementById("inputPositionName").value = ""
                                                                document.getElementById("inputPositionRank").selectedIndex = -1;
													        }
													        else{
													            document.getElementById("inputPositionName").value = selectObject.options[selectObject.selectedIndex].text;
                                                                document.getElementById("inputPositionRank").selectedIndex = current;
													        }
													        
													    }
													</script>
												</div>

											</div>
										</div>
									</div>
								</div>
                            </div>
                            <div class='row'>
						        <!-- Create User -->
								<div class="col-sm-3">
									<a href="/CreateUser">
										<button type="button" class="new-btn btn btn-primary w3-margin-top" data-toggle="modal"
											data-target="#"> <i class="btn-icon fa fa-plus fa-fw" id="emp-icon"></i> 
											Create User
										</button>
									</a>
								</div>
								
							    <!-- User Activation -->
								<div class="col-sm-3">
									<button type="button" class="new-btn btn btn-primary w3-margin-top" data-toggle="modal"
										data-target=".UserActivation"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
										User Activation
									</button>
									<div class="modal fade UserActivation" tabindex="-1" role="dialog"
										aria-labelledby="UserActivation" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<!-- UserActivation Header -->
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">User Activation</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<!-- UserActivation FORM -->
												<div class="modal-body">
												    <form method="post" action="./forms/userActivation">
    													<!-- Available User List -->
    													<div class="form-group">
        														<label class="my-1 mr-2" for="employeeList"> Available User List</label>
        														<select class="custom-select my-1 mr-sm-2" id="employeeList" name="employeeList">
        														    <option selected>--Select User--</option>
        															{% for employee in employeeList %}
        															<option value={{employee.getStaff_ID()}}>{{employee.getKey()}} - {{employee.getName()}}
        															</option>
        															{% endfor %}
        														</select>
        													</div>
    
    													<!-- User Activation - required-->
    													<div class="form-group row">
    														<label for="inputAdmin"
    															class="col-sm-2 col-form-label">User Activation*</label>
    														<div class="col-sm-10">
    															<select class="custom-select my-1 mr-sm-2" id="inputUserActivation"
    																name="inputUserActivation" required>
    																<option value="inactive">Inactive</option>
    																<option value="active">Active</option>
    															</select>
    															<small id="staffIDhelp" class="form-text text-muted">
    																User Activation is applied for both Pimcore and OpenProject.
    																Only Inactive users can be deleted.
    															</small>
    														</div>
    													</div>
    													<hr>
    													<button class="btn btn-primary" type="submit" name="buttonAction"
    														value="update">Update</button>
													</form>
													<hr>
													<h3>Inactive Users</h3>
													<table class="table">
														<thead>
															<tr>
																<th scope="col">#</th>
																<th scope="col">Name</th>
																<th scope="col">Staff ID</th>
																<th scope="col">Contact</th>
															</tr>
														</thead>
														<tbody>
														    {% for user in inactiveList %}
    															<tr>
    																<th scope="row">{{ loop.index }}</th>
    																<td>{{user.getName()}}</td>
    																<td>{{user.getStaff_Id()}}</td>
    																<td>{{user.getPhone()}}</td>
    															</tr>
														    {% endfor %}
														</tbody>
													</table>
												</div>

											</div>
										</div>
									</div>
								</div>
                            </div>
                            <div class='row'>
        {#                        <!-- Delete User -->#}
								{#<div class="col-sm-3">#}
								{#	<button type="button" id="btn-del" class="new-btn btn btn-danger w3-margin-top" data-toggle="modal"#}
								{#		data-target=".DeleteUser"> <i class="btn-del-icon fa fa-ban fa-fw" id="emp-icon"></i> #}
								{#		Delete User#}
								{#	</button>#}
								{#	<div class="modal fade DeleteUser" tabindex="-1" role="dialog"#}
								{#		aria-labelledby="DeleteUser" aria-hidden="true">#}
								{#		<div class="modal-dialog modal-lg">#}
								{#			<div class="modal-content">#}
								{#				<!-- Delete User Header -->#}
								{#				<div class="modal-header">#}
								{#					<h5 class="modal-title" id="exampleModalLabel">Delete User</h5>#}
								{#					<button type="button" class="close" data-dismiss="modal"#}
								{#						aria-label="Close">#}
								{#						<span aria-hidden="true">&times;</span>#}
								{#					</button>#}
								{#				</div>#}
								{#				<!-- DeleteUser FORM -->#}
								{#				<div class="modal-body">#}
								{#				    <form method="post" action="./forms/deleteUser">#}
    				{#									<!-- Available User List -->#}
    				{#									<div class="form-group">#}
    				{#										<label class="my-1 mr-2" for="employeeList"> Available User List</label>#}
    				{#										<select class="custom-select my-1 mr-sm-2" id="employeeList" name="employeeList">#}
    				{#										    <option selected>--Select User--</option>#}
    				{#											{% for employee in inactiveList %}#}
    				{#											<option value={{employee.getStaff_ID()}}>{{employee.getKey()}} - {{employee.getName()}}#}
    				{#											</option>#}
    				{#											{% endfor %}#}
    				{#										</select>#}
    				{#									</div>#}
    													
    				{#									<hr>#}
    				{#									<button class="btn btn-danger" type="submit" name="buttonAction"#}
    				{#										value="delete">Delete User</button>#}

    				{#									<hr>#}
								{#						<h3>Inactive Users</h3>#}
    				{#									<table class="table">#}
    				{#										<thead>#}
    				{#											<tr>#}
    				{#												<th scope="col">#</th>#}
    				{#												<th scope="col">Name</th>#}
    				{#												<th scope="col">Staff ID</th>#}
    				{#												<th scope="col">Contact</th>#}
    				{#											</tr>#}
    				{#										</thead>#}
    				{#										<tbody>#}
    				{#										    {% for user in inactiveList %}#}
        {#															<tr>#}
        {#																<th scope="row">{{ loop.index }}</th>#}
        {#																<td>{{user.getName()}}</td>#}
        {#																<td>{{user.getStaff_Id()}}</td>#}
        {#																<td>{{user.getPhone()}}</td>#}
        {#															</tr>#}
    				{#										    {% endfor %}#}
    				{#										</tbody>#}
    				{#									</table>#}
								{#					</form>#}
								{#				</div>#}

								{#			</div>#}
								{#		</div>#}
								{#	</div>#}
								{#</div>#}
                            </div>
                        </div>
					</div>
					{% endif %}
				</div>
			  </div>
		</div>
	</div>
{% endblock %}

