{% extends 'layout.html.twig' %}

{% block extend_library %}
    <!-- datepicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{%endblock%}

{% block extend_style %}
    <style>
    /*.main-color{*/
    /*  color:white!important;*/
    /*  background-color:#0aa6d1!important*/
    /*}*/
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:20px;}
    #left-col { width:20%;margin-left:50px;}
    #right-col { width:75%;}
    .section-title {color:rgb(100,100,100);}
    .div-title {color:#0aa6d1; font-weight:700;}

    #emp-icon {
        display: inline;
        text-align: left;
        padding-right: 11px; }
    
    .new-btn {
        padding: 8px 10px;
        border: 0px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background-color: #e6e6e6;
        color: #383838;}
    .new-btn:hover {
        background-color: #00aede;
        color: white; }
    .new-btn:hover .btn-icon{
        color: white; }
    .btn-icon { color: #00aede; font-size: 25px; }
    
    @media screen and (max-width: 1550px){
        #left-col { width:28%;}
        #right-col { width:62%; margin-left:3em;}
        .new-btn {padding:5px 6px; font-size:0.8em;}
        .section-title {font-size: 1.4em;}
    } 
    @media screen and (max-width: 1550px){
        #left-col { width:33%;}
        #right-col { width:54%;}
        .section-title {font-size: 1.3em;}
        .div-title {font-size: 1.9em;}
    } 
    @media screen and (max-width:1300px){
        .div-title {font-size: 1.6em;}
    }
    @media screen and (max-width: 950px){
        #left-col { width:90%;}
        #right-col { width:90%; margin-left:2em;}
        .section-title {font-size: 1.4em;}
    }
    @media screen and (max-width: 800px){
        #right-col {margin-left:3em;}
    }
    </style>
{%endblock%}


{%block content %}


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:3400px; padding:0.01em 5px 0.01em 50px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
        <!--______________________________________LEFT COLUMN!!___________________________________-->
        <!-- Left Column -->
        <div class="w3-third" id="left-col"> <!-- this one just to let the container float left with 100% -->
            <div class="w3-white w3-text-grey w3-card-4"> <!-- w3-card-4 is for the box-shadow size and colour-->
                <div class="w3-display-container">
                    <img src="{{employee.getProfile_Image().thumbnail('EmployeeImageResize')}}" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black"></div>
                </div>
                <div class="w3-container">
                    <h2 style="font-size: 20px; text-align: center; margin-top:10px;">{{employee.getName()}}</h2>
                    <p><i class="fa fa-id-card fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>{{employee.getStaff_ID()}}</p>
                    <p><i class="fa fa-briefcase " style="color:#0aa6d1;" id="emp-icon"></i>{{employee.getPosition().getPositionName()}}</p>
                    <p><i class="fa fa-phone fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>{{employee.getPhone()}}</p>
                    <p><i class="fa fa-envelope fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>{{employee.getEmail()}}</p>
                    <p><i class="fa fa-birthday-cake fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>{{employee.getBirthday().format('d-m-Y')}}</p><br/><hr>
                    <p>{% if employee.getGithub() == "" %}
					         <i class="fa fa-github-square fa-fw" style="color:rgb(110,110,110);" id="emp-icon"></i>
					         <span style="color:rgb(110,110,110);">Github</span>
					    {% else %}
						    <i class="fa fa-github-square fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>
						        <a href="{{employee.getGithub()}}" target="_blank" style="font-weight:500;"> Github </a>
						{% endif %}
					</p>
				    <p>{% if employee.getLinkedin() == "" %}
    				         <i class="fa fa-linkedin-square fa-fw" style="color:rgb(110,110,110);" id="emp-icon"></i>
    				         <span style="color:rgb(110,110,110);">LinkedIn</span>
					    {% else %}
						    <i class="fa fa-linkedin-square fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>
						        <a href="{{employee.getLinkedIn()}}" target="_blank" style="font-weight:500;"> LinkedIn </a>
						{% endif %}
					</p>
				    <p>{% if employee.getFacebook() == "" %}
    				         <i class="fa fa-facebook-square fa-fw" style="color:rgb(110,110,110);" id="emp-icon"></i>
    				         <span style="color:rgb(110,110,110);">Facebook</span>
					    {% else %}
						    <i class="fa fa-facebook-square fa-fw" style="color:#0aa6d1;" id="emp-icon"></i>
						        <a href="{{employee.getFacebook()}}" target="_blank" style="font-weight:500;"> Facebook </a>
						{% endif %}
					</p>
                </div>
                
            </div>
            <br>
        </div>
        <!-- End Left Column -->
        
        
        <!-- Right Column -->
            <div class="w3-twothird" id="right-col">
                
                <!-- Work Experience -->
                <div class="w3-container w3-card w3-white w3-margin-bottom" style="padding-bottom:50px;">

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="w3-padding-16 div-title">
                                <i class="fa fa-briefcase fa-fw w3-xxlarge" style="color:#0aa6d1;" id="emp-icon"></i>Experience
                            </h2>
                        </div>
                        
                        {% if (is_granted('IS_AUTHENTICATED_FULLY') and currentUser.getName() == employee.getStaff_ID()) or isadmin %} 
                        {# AUNTHENTICATED USER ONLY #}
                            <!-- EDIT FOR Company -->
                            <div class="col-md-3">
                                <!-- button to add company --> 
                            	<button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
									data-target=".Company" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
									Company
								</button>
                                
                                <div class="modal fade Company" tabindex="-1" role="dialog" aria-labelledby="CompanyLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <!-- Company Header -->
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Company</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            
                                            <!-- Company FORM -->
                                            <div class="modal-body">
                                                <form method="post" action="./forms/Company/{{employee.geto_Id()}}">
                                                    <!-- Available Company List -->
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="CompanyObjectList"> Available Institution List</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="CompanyObjectList" name="CompanyObjectList" onclick="companyFormResponsive(this)">
                                                            <option selected>Create New Company Object</option>
    
                                                            {% for company in companyAllList  %}
                                                                <option value={{company.geto_Id()}}>{{company.getKey()}}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                    </div>
                                                    <hr>
                                                    {% set companyAll = [] %}
                                                    {% for company in companyAllList  %}
                                                        {% set companyAll = companyAll|merge([{ 
                                                            id : company.geto_Id(),
                                                            title: company.getKey(),
                                                            company: company.getCompany(),
                                                            address: company.getAddress(),
                                                            companyPhone: company.getPhone(),
                                                            companyDescription: company.getDescription(),
                                                            }]) %}
                                                    {% endfor %}
                                                    
    
                                                    <script>
                                                    
                                                        function companyFormResponsive(selectObject){
                                                            var current = selectObject.value;
                                                            var companyAll = {{companyAll|json_encode|raw }}; 
                                                            var result = companyAll.find(o => o.id == current);
                                                            // console.log(result);
                                                            if (result){
                                                                document.getElementById("inputCompanyName").value = result.company;
                                                                document.getElementById("inputCompanyAddress").value = result.address;
                                                                document.getElementById("inputCompanyPhone").value = result.companyPhone;
                                                                document.getElementById("inputCompanyDescription").value = result.companyDescription;
                                                            }
                                                            else{
                                                                document.getElementById("inputCompanyName").value = "";
                                                                document.getElementById("inputCompanyAddress").value = "";
                                                                document.getElementById("inputCompanyPhone").value = "";
                                                                document.getElementById("inputCompanyDescription").value = "";
                                                            }
                                                        }
                                                    </script>
                                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCompanyName">Company Name*</label>
                                                            <input type="text" class="form-control" id="inputCompanyName" name="CompanyName" placeholder="Company Name" value="" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCompanyAddress">Company Address</label>
                                                            <input type="text" class="form-control" id="inputCompanyAddress"  name="CompanyAddress" placeholder="Company Address" value="" >
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCompanyPhone">Company Phone</label>
                                                            <input type="text" class="form-control" id="inputCompanyPhone"  name="CompanyPhone" placeholder="Company Phone" value="" >
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCompanyDescription">Company Description</label>
                                                            <input type="text" class="form-control" id="inputCompanyDescription"  name="CompanyDescription" placeholder="Company Description" value="" >
                                                        </div>
                                                    </div>
                                                    
                                                    <hr>
                                                    <button class="btn btn-danger" type="submit" name="buttonAction" value="Delete">Delete Company</button>
                                                    <button class="btn btn-primary" type="submit" name="buttonAction" value="Save">Save Company</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- EDIT FOR Work Experience -->
                            <div class="col-md-3">
                                <!-- button to add work experience -->
                                <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
									data-target=".Work" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
									Work Experience
								</button>
                                
                                <div class="modal fade Work" tabindex="-1" role="dialog" aria-labelledby="WorkLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Work Experience</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        
                                            <div class="modal-body">
                                                <form method="post" action="./forms/WorkExperience/{{employee.geto_Id()}}">
                                                    <!-- Work Experience List  -->
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="WorkObjectList"> Available Work Experience List</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="WorkObjectList" name="WorkObjectList" onclick="workFormResponsive(this)">
                                                            <option selected>Create New Work Experience Object</option>
    
                                                            {% for work in workExpList  %}
                                                                <option value={{work.geto_Id()}}>{{work.getKey()}}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                    </div>
                                                    <hr>
                                                    
                                                    {% set workAll = [] %}
                                                    {% for work in workExpList  %}
                                                        {% set workAll = workAll|merge([{ 
                                                            id : work.geto_Id(),
                                                            title: work.getKey(),
                                                            workTitle: work.getTitle(),
                                                            workType: work.getEmploymentType(),
                                                            startDate: work.getWorkStartDate().format("d-m-Y"),
                                                            endDate: work.getWorkEndDate().format("d-m-Y"),
                                                            workDesc: work.getWorkDesc(),
                                                            workCompany: work.getCompanyWork(),
                                                            workEmp: work.getEmpWork(),
                                                            }]) %}
                                                    {% endfor %}
                                                    {% set workTypeList = ["Self-employed","Seasonal","Part-time","Internship","Full-time","Freelance","Contract","Apprenticeship"]%}
                                                    
                                                    <script>
                                                    
                                                        function workFormResponsive(selectObject){
                                                            var current = selectObject.value;
                                                            var workAll = {{workAll|json_encode|raw }}; 
                                                            var companyAll = {{companyAll|json_encode|raw }}; 
                                                            var currentWork = workAll.find(o => o.id == current);
                                                            var workList = {{workTypeList|json_encode|raw}};
                                                            
                                                            if(currentWork){
                                                                var companyID = currentWork.workCompany.____pimcore_cache_item__.split("_")[1]
                                                                var index = companyAll.findIndex(function(company, i){
                                                                    return company.id == companyID
                                                                });
                                                            }
                                                            else{
                                                                var index = -1;
                                                            }
                                                            
                                                            // console.log(workList)
                                                            // console.log(currentWork)
                                                            // console.log(workList.indexOf(currentWork.workType))
                                                            
                                                            if (currentWork){
                                                                document.getElementById("inputWorkTitle").value = currentWork.workTitle;
                                                                document.getElementById("workTypeList").selectedIndex = workList.indexOf(currentWork.workType);
                                                                document.getElementById("workStartDate").value = currentWork.startDate;
                                                                document.getElementById("workEndDate").value = currentWork.endDate;
                                                                document.getElementById("WorkDesc").value = currentWork.workDesc;
                                                                // console.log(eduLevel.indexOf(result.educationLevel));
                                                                document.getElementById("Work_CompanyObjectList").selectedIndex = index;
                                                            }
                                                            else{
                                                                document.getElementById("inputWorkTitle").value = "";
                                                                document.getElementById("workTypeList").selectedIndex = -1;
                                                                document.getElementById("workStartDate").value = "";
                                                                document.getElementById("workEndDate").value = "";
                                                                document.getElementById("WorkDesc").value = "";
                                                                document.getElementById("Work_CompanyObjectList").selectedIndex = -1;
                                                            }
                                                        }
                                                    </script>
                                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputWorkTitle">Work Title*</label>
                                                            <input type="text" class="form-control" id="inputWorkTitle" name="workTitle" placeholder="Work Title" value="" required>
                                                        </div>
                                                        
                                                        <div class="form-group col-md-6">
                                                            <label for="workTypeList"> Work Type*</label>
                                                            <select class="custom-select" id="workTypeList" name="workTypeList" required>
                                                                {% for workType in workTypeList%}
                                                                    <option value="{{workType|raw}}">{{workType}}</option>
                                                                {% endfor%}
                                                                
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="workStartDate"> Start Date*</label>
                                                            <input id="workStartDate" width="276" name="workStartDate" required/>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="workEndDate"> End Date*</label>
                                                            <input id="workEndDate" width="276" name="workEndDate" required/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label for="WorkDesc">Work Description*</label>
                                                            <input type="text" class="form-control" id="WorkDesc"  name="WorkDesc" placeholder="Work Descriptions" value="" required>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="Work_CompanyObjectList"> Company Object List*</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="Work_CompanyObjectList" name="Work_CompanyObjectList" required>
                                                            {% for company in companyAllList  %}
                                                                <option value={{company.geto_Id()}}>{{company.getKey()}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
    
        
                                                    <hr>
                                                    <button class="btn btn-danger" type="submit" name="buttonAction" value="Delete">Delete Work Experience</button>
                                                    <button class="btn btn-primary" type="submit" name="buttonAction" value="Save">Save Work Experience</button>
                                                </form>
    
                                                <!-- Datetime script -->
                                                <script>
                                                    $('#workStartDate').datepicker({
                                                        uiLibrary: 'bootstrap4',
                                                        format: 'dd-mm-yyyy',
                                                    });
                                                    $('#workEndDate').datepicker({
                                                        uiLibrary: 'bootstrap4',
                                                        format: 'dd-mm-yyyy',
                                                    });
                                                </script>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
      
      
                    <!-- Work Experience : BODY-->
                    {%if workExpList.count()%}
                        {% for workExp in workExpList%}
                            <div class="w3-container">
                                <h4 class="section-title">
                                        <!--<i class="fa fa-briefcase" id="emp-icon"></i>-->
                                        <b>{{workExp.getTitle()}}</b>
                                </h4>
                                <h5 style="color:rgb(150,150,150); font-weight:500;">
                                    <!--<i class="fa fa-calendar"  id="emp-icon"></i-->
                                    {{workExp.WorkStartDate().format('m-Y')}}
                                     - 
                                    {% if workExp.WorkEndDate() > date() %}
                                        <span style="color:rgb(150,150,150); font-weight:600;">Present</span>
                                    {% else %}
                                        {{workExp.WorkEndDate().format('m-Y')}}
                                    {% endif %}
                                </h5>
                                <div style="color:rgb(120,120,120); font-weight:500; font-size:1.1em;">
                                    {{workExp.WorkDesc()}}
                                </div>
                              <hr>
                          </div>
                        {%endfor%}
                    {% else %}
                        <div>
                            <i class="fa fa-exclamation-circle"  style="color:#0aa6d1;" id="emp-icon" ></i>
                            No Workplace Records
                        </div>
                        <hr>
                    {%endif%}
                </div>
                

                
                <!-- Education -->
                <div class="w3-container w3-card w3-white" style="padding-bottom:50px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="w3-padding-16" style="color:#0aa6d1; font-weight:700;">
                                <i class="fa fa-book fa-fw w3-xxlarge" style="color:#0aa6d1;" id="emp-icon"></i>Education
                            </h2>
                        </div>
                        
                        {% if (is_granted('IS_AUTHENTICATED_FULLY') and currentUser.getName() == employee.getStaff_ID()) or isadmin %} 
                        {# AUNTHENTICATED USER ONLY #}
                            <!-- EDIT FOR Education/Institution -->
                            <div class="col-md-3">
                                <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
									data-target=".Education" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
									Institution
								</button>

                                <div class="modal fade Education" tabindex="-1" role="dialog" aria-labelledby="EducationLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <!-- EDUCATION Header -->
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Institution</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            
                                            <!-- EDUCATION FORM -->
                                            <div class="modal-body">
                                                <form method="post" action="./forms/Education/{{employee.geto_Id()}}">
                                                    <!-- Available Education List -->
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="EducationObjectList"> Available Institution List</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="EducationObjectList" name="EducationObjectList" onclick="educationFormResponsive(this)">
                                                            <option selected>Create New Institution Object</option>
    
                                                            {% for education in educationAllList  %}
                                                                <option value={{education.geto_Id()}}>{{education.getKey()}}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                    </div>
                                                    <hr>
                                                    {% set educationAll = [] %}
                                                    {% for education in educationAllList  %}
                                                        {% set educationAll = educationAll|merge([{ 
                                                            id : education.geto_Id(),
                                                            title: education.getKey(),
                                                            institution: education.getInstitution(),
                                                            studyField: education.getCourseName(),
                                                            educationLevel: education.getEducationLevel(),
                                                            educationDesc: education.getEducationDesc(),
                                                            }]) %}
                                                    {% endfor %}
                                                    
                                                    {% set eduLevel = ["Foundation", "Pre-University", "STPM", "Diploma", "Associate's Degree", "Bachelor's Degree", "Master", "PhD"]%}
                                                    <script>
                                                    
                                                        function educationFormResponsive(selectObject){
                                                            var current = selectObject.value;
                                                            var educationAll = {{educationAll|json_encode|raw }}; 
                                                            var result = educationAll.find(o => o.id == current);
                                                            // console.log(result);
                                                            var eduLevel = {{eduLevel|json_encode|raw}}
                                                            if (result){
                                                                document.getElementById("inputInstitutionName").value = result.institution;
                                                                document.getElementById("inputStudyFieldName").value = result.studyField;
                                                                document.getElementById("inputEducationDescription").value = result.educationDesc;
                                                                // console.log(result.educationLevel)
                                                                // console.log(eduLevel.indexOf(result.educationLevel));
                                                                
                                                                
                                                                document.getElementById("EducationLevelList").selectedIndex = eduLevel.indexOf(result.educationLevel);
                                                                
                                                            }
                                                            else{
                                                                document.getElementById("inputInstitutionName").value = "";
                                                                document.getElementById("inputStudyFieldName").value = "";
                                                                document.getElementById("inputEducationDescription").value = "";
                                                                document.getElementById("EducationLevelList").selectedIndex = -1;
                                                            }
                                                        }
                                                    </script>
                                                    
                                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputInstitutionName">Institution Name*</label>
                                                            <input type="text" class="form-control" id="inputInstitutionName" name="InstitutionName" placeholder="Institution Name" value="" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputStudyFieldName">Field of Study*</label>
                                                            <input type="text" class="form-control" id="inputStudyFieldName"  name="StudyFieldName" placeholder="Field of Study" value="" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="EducationLevelList"> Education Level*</label>
                                                            <select class="custom-select" id="EducationLevelList" name="EducationLevelList" required>
                                                                {%for education in eduLevel%}
                                                                    <option value= "{{education}}">{{education}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEducationDescription">Education Description</label>
                                                            <input type="text" class="form-control" id="inputEducationDescription" name ="EducationDescription" placeholder="Education Description" value="">
                                                        </div>
                                                    </div>
                                                    
                                                    <hr>
                                                    <button class="btn btn-danger" type="submit" name="buttonAction" value="Delete">Delete Institution</button>
                                                    <button class="btn btn-primary" type="submit" name="buttonAction" value="Save">Save Institution</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- EDIT FOR Enrollment -->
                            <div class="col-md-3">
                                <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
									data-target=".Enrollment" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
									Enrollment
								</button>
                                
                                <div class="modal fade Enrollment" tabindex="-1" role="dialog" aria-labelledby="EnrollmentLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Enrollment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        
                                            <div class="modal-body">
                                                <form method="post" action="./forms/Enrollment/{{employee.geto_Id()}}">
                                                    <!-- Enrollment List  -->
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="EnrollmentObjectList"> Available Enrollment List</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="EnrollmentObjectList" name="EnrollmentObjectList" onclick="enrollmentFormResponsive(this)">
                                                            <option selected>Create New Enrollment Object</option>
                                                            {% for enrollment in enrollList  %}
                                                                <option value={{enrollment.geto_Id()}}>{{enrollment.getKey()}}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                    </div>
                                                    <hr>
                                                    
                                                    {% set enrollmentAll = [] %}
                                                    {% for enrollment in enrollList  %}
                                                        {% set enrollmentAll = enrollmentAll|merge([{ 
                                                            id : enrollment.geto_Id(),
                                                            title: enrollment.getKey(),
                                                            startDate: enrollment.getEnrolStartDate().format("d-m-Y"),
                                                            endDate: enrollment.getEnrolEndDate().format("d-m-Y"),
                                                            Employee: enrollment.getEmpEnroll(),
                                                            Education: enrollment.getEduEnroll(),
                                                            }]) %}
                                                    {% endfor %}
                                                    
                                                    
                                                    <script>
                                                    
                                                        function enrollmentFormResponsive(selectObject){
                                                            var current = selectObject.value;
                                                            var enrollmentAll = {{enrollmentAll|json_encode|raw }}; 
                                                            var educationAll = {{educationAll|json_encode|raw }}; 
                                                            var currentEnrollment = enrollmentAll.find(o => o.id == current);
                                                            
                                                            
                                                            if(currentEnrollment){
                                                                var educationID = currentEnrollment.Education.____pimcore_cache_item__.split("_")[1];
                                                                var index = educationAll.findIndex(function(education, i){
                                                                    return education.id == educationID
                                                                });
                                                            }
                                                            else{
                                                                var index = -1;
                                                            }
                                                            
                                                            if (currentEnrollment){
                                                                document.getElementById("EnrollmentStartDate").value = currentEnrollment.startDate;
                                                                document.getElementById("EnrollmentEndDate").value = currentEnrollment.endDate;
                                                                // console.log(eduLevel.indexOf(result.educationLevel));
                                                                document.getElementById("Enroll_EducationObjectList").selectedIndex = index;
                                                            }
                                                            else{
                                                                document.getElementById("EnrollmentStartDate").value = "";
                                                                document.getElementById("EnrollmentEndDate").value = "";
                                                                document.getElementById("Enroll_EducationObjectList").selectedIndex = -1;
                                                            }
                                                        }
                                                    </script>
                                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="EnrollmentStartDate"> Start Date*</label>
                                                            <input id="EnrollmentStartDate" width="276" name="startDate" required/>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="EnrollmentEndDate"> End Date*</label>
                                                            <input id="EnrollmentEndDate" width="276" name="endDate" required/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="my-1 mr-2" for="Enroll_EducationObjectList"> Institution Object List*</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="Enroll_EducationObjectList" name="enroll_educationList" required>
                                                            {% for education in educationAllList  %}
                                                                <option value={{education.geto_Id()}}>{{education.getKey()}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
    
        
                                                    <hr>
                                                    <button class="btn btn-danger" type="submit" name="buttonAction" value="Delete">Delete Enrollment</button>
                                                    <button class="btn btn-primary" type="submit" name="buttonAction" value="Save">Save Enrollment</button>
                                                </form>
    
                                                <!-- Datetime script -->
                                                <script>
                                                    $('#EnrollmentStartDate').datepicker({
                                                        uiLibrary: 'bootstrap4',
                                                        format: 'dd-mm-yyyy',
                                                    });
                                                    $('#EnrollmentEndDate').datepicker({
                                                        uiLibrary: 'bootstrap4',
                                                        format: 'dd-mm-yyyy',
                                                    });
                                                </script>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif%}

                    </div>
              
                        
                    <!-- Education : BODY-->
                    {%if enrollList.count()%}
                        {% for enroll in enrollList%}
                            <div class="w3-container">
                                <h4 class="section-title">
                                    <b>{{enroll.getEduEnroll().getInstitution()}}: {{enroll.getEduEnroll().getEducationLevel()}}</b>
                                </h4>
                                
                                <h5 style="color:rgb(150,150,150); font-weight:500;">
                                    {{enroll.getEnrolStartDate().format('m-Y')}} 
                                    - 
                                    {% if enroll.getEnrolEndDate() > date() %}
                                        <span class="w3-tag main-color w3-round">Present</span>
                                    {% else %}
                                        {{enroll.getEnrolEndDate().format('m-Y')}}
                                    {% endif %}
                                </h5>
                                
                                <div style="color:rgb(120,120,120); font-weight:500; font-size:1.1em;">
                                    {{enroll.getEduEnroll().getCourseName()}}
                                </div>
                                <hr>
                            </div>
                        {% endfor%}
                    {% else %}
                        <div style="color:rgb(120,120,120); font-weight:500; font-size:1.1em;">
                             <i class="fa fa-exclamation-circle"  style="color:#0aa6d1;" id="emp-icon" ></i>
                            No Education Records
                        </div>
                        <hr>
                    {%endif%}
                        
                </div>
                
                
                <!-- Employee Skills List (Skill Proficiency) -->
                <hr>
        
            
             <div class="w3-container w3-card w3-white" style="padding-bottom:50px;">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="w3-padding-16" style="color:#0aa6d1; font-weight:700;">
                                      <i class="fa fa-cogs fa-fw w3-xxlarge" style="color:#0aa6d1; font-weight:700;" id="emp-icon"></i>Skill sets
                                </h2>
                            </div>
                            
                            
                            {% if (is_granted('IS_AUTHENTICATED_FULLY') and currentUser.getName() == employee.getStaff_ID()) or isadmin %} 
                            {# AUNTHENTICATED USER ONLY #}
                                <div class="col-md-3">
            {#                        <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"#}
    								{#	data-target=".SkillCategory" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>#}
    								{#	Skill Category#}
    								{#</button>#}
                                    
                                    <!-- Will not be in used for now-->
                                      <div class="modal fade SkillCategory" tabindex="-1" role="dialog" aria-labelledby="SkillCategoryLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- Skill Category Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Skill Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <!-- Skill Category FORM -->
                                                <div class="modal-body">
                                                    <form method="post" action="./forms/SkillCategory/{{employee.geto_Id()}}">
                                                        <!-- Available Skill Category List -->
                                                        <div class="form-group">
                                                            <label class="my-1 mr-2" for="SkillCategoryObjectList"> Available Skill Category</label>
                                                            <select class="custom-select my-1 mr-sm-2" id="SkillCategoryObjectList" name="SkillCategoryObjectList" onclick="skillCategoryFormResponsive(this)">
                                                                <option selected>Create New Skill Catagory</option>
                                                                {% for skill in skillAllList  %}
                                                                    <option value={{skill.geto_Id()}}>{{skill.getKey()}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label for="inputSkillCategory">Skill Category*</label>
                                                            <input type="text" class="form-control" id="inputSkillCategory"  name="inputSkillCategory" placeholder='Skill Category Name (Word seperated by dash "-" )' value="" required>
                                                        </div>
                                                                                                            
                                                        {% set skillCategoryAll = [] %}
                                                        {% for skill in skillAllList  %}
                                                            {% set skillCategoryAll = skillCategoryAll|merge([{ 
                                                                id : skill.geto_Id(),
                                                                title: skill.getKey(),
                                                                SkillCategory: skill.getSkillCategory(),
                                                                }]) %}
                                                        {% endfor %}
                                                        
                                                        <script>
                                                            function skillCategoryFormResponsive(selectObject){
                                                                var current = selectObject.value;
                                                                var skillCategoryAll = {{skillCategoryAll|json_encode|raw }}; 
                                                                var skillCategory = skillCategoryAll.find(o => o.id == current);
                                                                if (skillCategory){
                                                                    document.getElementById("inputSkillCategory").value = skillCategory.SkillCategory;
                                                                }
                                                                else{
                                                                    document.getElementById("inputSkillCategory").value = "";
                                                                }
                                                            }
                                                        </script>
                                                        
                                                        <hr>
                                                        <button class="btn btn-danger" style='margin:5px' type="submit" name="buttonAction" value="Delete">Delete Category</button>
                                                        <button class="btn btn-primary" style='margin:5px' type="submit" name="buttonAction" value="Save">Save Category</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- For "sub-category" -->
                                <div class="col-md-3">
                                    <!-- button to edit sub-category -->
                                    <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
    									data-target=".SkillSubCategory" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
    									Skill Sub-Category
    								</button>
                                    
                                     <div class="modal fade SkillSubCategory" tabindex="-1" role="dialog" aria-labelledby="SkillSubCategoryLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- Skill Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Skill Sub-Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <!-- Skill FORM -->
                                                <div class="modal-body">
                                                    <form method="post" action="./forms/SkillSubCategory/{{employee.geto_Id()}}">
                                                        <!-- Available Skill Sub-Category List -->
                                                        <div class="form-group">
                                                            <label class="my-1 mr-2" for="skillObjectList"> Available Skill Sub-Category</label>
                                                            <select class="custom-select my-1 mr-sm-2" id="skillObjectList" name="skillObjectList" onclick="skillCataFormResponsive(this)">
                                                                <option selected>Create New Skill</option>
                                                                {% for skill in skillTrainingAllList  %}
                                                                    <option value={{skill.geto_Id()}}>{{skill.getKey()}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label class="my-1 mr-2" for="SkillCateObjectList">Skill Category</label>
                                                                <select class="custom-select my-1 mr-sm-2" id="SkillCateObjectList" name="SkillCateObjectList" required>
                                                                    {% for skill in skillAllList  %}
                                                                        <option value={{skill.geto_Id()}}>{{skill.getKey()}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputSubCategory">Skill Sub-Category*</label>
                                                                <input type="text" class="form-control" id="inputSubCategory"  name="inputSubCategory" placeholder="Skill Sub-Category Name" value="" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="inputTrainingTitle">Training Title</label>
                                                                <input type="text" class="form-control" id="inputTrainingTitle"  name="inputTrainingTitle" placeholder="Training Title" value="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputExamName">Exam Name</label>
                                                                <input type="text" class="form-control" id="inputExamName"  name="inputExamName" placeholder="Exam Name" value="" >
                                                            </div>
                                                        </div>
                                                        
                                                        {% set skillTrainingAll = [] %}
                                                        {% for skill in skillTrainingAllList  %}
                                                            {% set skillTrainingAll = skillTrainingAll|merge([{ 
                                                                id : skill.geto_Id(),
                                                                title: skill.getKey(),
                                                                SkillCategory: skill.getSkillSubCategory(),
                                                                TrainingTitle: skill.getTrainingTitle(),
                                                                ExamName: skill.getExamName(),
                                                                SkillsCategoryDetails: skill.getSkillsCategoryDetails(),
                                                                }]) %}
                                                        {% endfor %}
                                                        
                                                        <script>
                                                            function skillCataFormResponsive(selectObject){
                                                                var current = selectObject.value;
                                                                var skillTrainingAll = {{skillTrainingAll|json_encode|raw }}; 
                                                                var skillCategoryAll = {{skillCategoryAll|json_encode|raw }}; 
                                                                var currentskill = skillTrainingAll.find(o => o.id == current);
                                                                
                                                                if (currentskill){
                                                                    var skillID = currentskill.SkillsCategoryDetails.____pimcore_cache_item__.split("_")[1];
                                                                    var index = skillCategoryAll.findIndex(function(skill, i){
                                                                        return skill.id == skillID
                                                                    });
                                                                }
                                                                else{
                                                                    var index = -1;
                                                                }
                                                                if (currentskill){
                                                                    document.getElementById("inputSubCategory").value = currentskill.SkillCategory;
                                                                    document.getElementById("inputTrainingTitle").value = currentskill.TrainingTitle;
                                                                    document.getElementById("inputExamName").value = currentskill.ExamName;
                                                                    document.getElementById("SkillCateObjectList").selectedIndex = index;
                                                                }
                                                                else{
                                                                    document.getElementById("inputSubCategory").value = "";
                                                                    document.getElementById("inputTrainingTitle").value = "";
                                                                    document.getElementById("inputExamName").value = "";
                                                                    document.getElementById("SkillCateObjectList").selectedIndex = -1;
                                                                }
                                                            }
                                                        </script>
                                                        
                                                        <hr>
                                                        <button class="btn btn-danger" style='margin:5px'type="submit" name="buttonAction" value="Delete">Delete Sub-Category</button>
                                                        <button class="btn btn-primary" style='margin:5px' type="submit" name="buttonAction" value="Save">Save Sub-Category</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="new-btn btn-primary w3-margin-top" data-toggle="modal"
    									data-target=".Proficiency" style="float:right;"> <i class="btn-icon fa fa-edit fa-fw" id="emp-icon"></i>
    									Skill Proficiency
    								</button>
                                    
                                     <div class="modal fade Proficiency" tabindex="-1" role="dialog" aria-labelledby="ProficiencyLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <!-- Proficiency Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Proficiency</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <!-- Proficiency FORM -->
                                                <div class="modal-body">
                                                    <form method="post" action="./forms/SkillProficiency/{{employee.geto_Id()}}">
                                                        <!-- Available Skill Proficiency List -->
                                                        <div class="form-group">
                                                            <label class="my-1 mr-2" for="proficiencyObjectList"> Available Skill Proficiency</label>
                                                            <select class="custom-select my-1 mr-sm-2" id="proficiencyObjectList" name="proficiencyObjectList" onclick="proficiencyCataFormResponsive(this)">
                                                                <option selected>Create New Proficiency</option>
                                                                {% for skill in skillProfList  %}
                                                                    <option value={{skill.geto_Id()}}>{{skill.getKey()}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        
                                                        {% set profStatusList = ["Planned","Pending Exam","Complete"]%}
                                                        {% set profLevelList = ["Level 0","Level 1","Level 2","Level 3"]%}
                                                        
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label class="my-1 mr-2" for="skillObject"> Skill* </label>
                                                                <select class="custom-select my-1 mr-sm-2" id="skillObject" name="skillObject" required>
                                                                    {% for skill in skillTrainingAllList  %}
                                                                        <option value={{skill.geto_Id()}}>{{skill.getKey()}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="proficiencyStatusList">Proficiency Status*</label>
                                                                <select class="custom-select" id="proficiencyStatusList" name="proficiencyStatusList" required>
                                                                    {% for status in profStatusList%}
                                                                        <option value="{{status|raw}}">{{status}}</option>
                                                                    {% endfor%}
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="proficiencyDate"> Proficiency Date*</label>
                                                                <input id="proficiencyDate"  name="proficiencyDate" required/>
                                                            </div>
                                                            
                                                            {% if isadmin %} 
                                                                <div class="form-group col-md-6">
                                                                    <label for="proficiencyLevelList">Proficiency Level</label>
                                                                    <select class="custom-select" id="proficiencyLevelList" name="proficiencyLevelList">
                                                                        {% for status in profLevelList%}
                                                                            <option value="{{status|raw}}">{{status}}</option>
                                                                        {% endfor%}
                                                                    </select>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        
                                                        {% set skillProfAll = [] %}
                                                        {% for skill in skillProfList  %}
                                                            {% set skillProfAll = skillProfAll|merge([{ 
                                                                id : skill.geto_Id(),
                                                                title: skill.getKey(),
                                                                Status: skill.getStatus(),
                                                                SkillLevel: skill.getSkillLevel(),
                                                                SkillYear: skill.getSkillYear().format("d-m-Y"),
                                                                SkillDetails: skill.getSkillDetails(),
                                                                }]) %}
                                                        {% endfor %}
                                                        
                                                        <script>
                                                            $('#proficiencyDate').datepicker({
                                                                uiLibrary: 'bootstrap4',
                                                                format: 'dd-mm-yyyy',
                                                            });
                                                        
                                                            function proficiencyCataFormResponsive(selectObject){
                                                                var current = selectObject.value;
                                                                var skillTrainingAll = {{skillTrainingAll|json_encode|raw }}; 
                                                                var skillProfAll = {{skillProfAll|json_encode|raw }}; 
                                                                var profStatusList = {{profStatusList|json_encode|raw }}; 
                                                                var profLevelList = {{profLevelList|json_encode|raw }}; 
                                                                var currentskill = skillProfAll.find(o => o.id == current);
    
                                                                if (currentskill){
                                                                    var skillID = currentskill.SkillDetails.____pimcore_cache_item__.split("_")[1];
                                                                    console.log(skillID)
                                                                    var index = skillTrainingAll.findIndex(function(skill, i){
                                                                        return skill.id == skillID
                                                                    });
                                                                }
                                                                else{
                                                                    var index = -1;
                                                                }
                                                                if (currentskill){
                                                                    document.getElementById("skillObject").selectedIndex = index;
                                                                    document.getElementById("proficiencyStatusList").selectedIndex = profStatusList.indexOf(currentskill.Status);
                                                                    document.getElementById("proficiencyDate").value = currentskill.SkillYear;
                                                                    document.getElementById("proficiencyLevelList").selectedIndex = profLevelList.indexOf(currentskill.SkillLevel);
                                                                }
                                                                else{
                                                                    document.getElementById("skillObject").selectedIndex = -1;
                                                                    document.getElementById("proficiencyStatusList").selectedIndex = -1;
                                                                    document.getElementById("proficiencyDate").value = "";
                                                                    document.getElementById("proficiencyLevelList").selectedIndex = -1;
                                                                }
                                                            }
                                                        </script>
                                                        
                                                        <hr>
                                                        <button class="btn btn-danger" style='margin:5px'type="submit" name="buttonAction" value="Delete">Delete Proficiency</button>
                                                        <button class="btn btn-primary" style='margin:5px' type="submit" name="buttonAction" value="Save">Save Proficiency</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        
                        <!-- Employee Skills List : BODY-->
                        {%if skillProfList|length %}
                            {% set previousCatagory = '' %}
                            {% set previousSubCatagory = '' %}
                            {% for skillProf in skillProfList%}
                                {% set currentCatagory = skillProf.getSkillDetails().getSkillsCategoryDetails().getSkillCategory() %}
                                {% set currentSubCatagory = skillProf.getSkillDetails().getSkillSubCategory() %}
                                <div class="w3-container">
                                    {% if currentCatagory != previousCatagory %}
                                    <hr>
                                        <h4 class="section-title">
                                            <!--<i class="fa fa-cogs" id="emp-icon"></i>-->
                                            <b>{{ skillProf.getSkillDetails().getSkillsCategoryDetails().getSkillCategory() }}</b>
                                        </h4>
                                    {% endif %}
                                    
                                    {% if currentSubCatagory != previousSubCatagory %}
                                        <br/><h5 style="color:rgb(120,120,120); font-weight:400;">
                                            <b>{{ skillProf.getSkillDetails().getSkillSubCategory() }}</b> 
                                        </h5>
                                    {% endif %}
                                    
                                    <!-- Only will output status if there is exam/certification -->
                                    {%if skillProf.getSkillDetails().getExamName() != "No Exam" %}
                                        <h5 style="color:rgb(120,120,120); font-weight:400; font-size:1.15em;">
                                            &#8226; {{ skillProf.getSkillDetails().getExamName() }}   [ {{ skillProf.getStatus() }} ]
                                            {#<span style="padding-left:930px;"> {{ skillProf.getStatus() }}</span>#}
                                        </h5>
                                    {% endif %}
                                    <!--<h5 style="color:grey;">
                                        <b>{#skillProf.getStatus()#}</b>
                                    </h5>-->
                                    <h5 style="color:black;">
                                        <!--<i class="fa fa-bars" id="emp-icon"></i>-->
                                        {#skillProf.getSkillLevel()#}
                                    </h5>
                                    
                                    {#Category#}
                                    {% if currentCatagory != previousCatagory %}
                                        {% set previousCatagory = currentCatagory%}
                                    {% else %}
                                     <!-- <hr>-->
                                    {% endif %}
                                    
                                    {#SUB CATEGORY#}
                                    {% if currentSubCatagory != previousSubCatagory%}
                                        {% set previousSubCatagory = currentSubCatagory%}
                                    {% endif %}
    
                                </div>
                            {% endfor%}
                        {% else %}
                            <div>
                                <i class="fa fa-exclamation-circle"  style="color:#0aa6d1;" id="emp-icon" ></i>
                                No Skills Records
                            </div>
                            <hr>
                        {%endif%}
                    </div>

            </div>
        
        <!-- End Left Column -->
        
    <!-- End Grid -->
    </div>
</div>


{% endblock %}


